{% extends 'AppAdminBundle::default.html.twig' %}
{% block title %} Modifier une poule {% endblock %}
{% block body %}
    <div class="col-md-12">
        <section class="panel">
            <div class="box box-danger">
                <div class="panel-body">
                    <form method="post" action="{{ path('poule_edit',{'id':poule.id}) }}" enctype="multipart/form-data"
                          class="panel panel-default">
                       

                            <div class="col-md-12">
 <div class="col-md-6">
                                <div class="form-group">
                                    <div class="alert-danger">{{ form_errors(form.tournoi) }}</div>
                                    <label>Tournoi</label>
                                    {{ form_widget(form.tournoi, {'attr': {'class':'form-control'}}) }}
                                </div>
                                <div class="form-group">
                                    <div class="alert-danger">{{ form_errors(form.libelle) }}</div>
                                    <label>Libellé</label>
                                    {{ form_widget(form.libelle, {'attr': {'class':'form-control'}}) }}
                                </div>
                            </div>
                             <div class="col-md-6">
                                <div class="form-group">
                                    <div class="alert-danger">{{ form_errors(form.numberequipe) }}</div>
                                    <label>Nomber d'équipe</label>
                                    {{ form_widget(form.numberequipe, {'attr': {'class':'form-control'}}) }}
                                </div>
                                <div class="form-group">
                                    <div class="alert-danger">{{ form_errors(form.equipelist) }}</div>
                                    <label>Equipe</label>
                                    {{ form_widget(form.equipelist, {'id':'equipe','attr': {'class':'form-control'}}) }}
                                </div>
                                
                            </div>
                            <div class="col-md-12">{{form_widget(form._token)}}
                                <input type="submit" value="Enregister" class="btn btn-primary" /></div>
                        </div>

                    </form>
                </div>
            </div>
        </section>
    </div>
{% endblock %}
{% block javascript %}
    <link type="text/css" rel="stylesheet" href="{{asset('bundles/chosen/chosen.css')}}" />
    <script type="text/javascript" src="{{asset('bundles/chosen/chosen.jquery.min.js')}}"></script>
    <script>
        (function ($) {
            $('#equipe').chosen();
        })(jQuery);

        jQuery(document).ready(function () {
            $('#poule_tournoi').on('change', function () {
                $id = $(this).val();
                $urldel = Routing.generate('gettournoi_info', {id: $id}, true);
                $.ajax({
                    type: 'POST',
                    url: $urldel,
                    //data: 'idposts=' + $iddel,
                    //dataType: 'json',
                    success: function (retour) {
                        retour = jQuery.parseJSON(retour);
                        console.log(retour);
                        console.log(retour.id);
                        $('#poule_numberequipe').val(retour.equipepoule);
                    },
                    error: function (retour) {
                        console.log("errur" + JSON.stringify(retour));
                    }
                })
            })
        })
    </script>
{% endblock %}