

{% extends 'base.html.twig' %}

{% block body %}
    <h1>Actualité</h1>

    <table>
       <tbody>
            <tr>
                <th>Id</th>
                <td>{{ actualite.id }}</td>
            </tr>
            <tr>
                <th>Titre</th>
                <td>{{ actualite.titre }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ actualite.description }}</td>
            </tr>
            <tr>
                <th>Date</th>
                <td>{{ actualite.date }}</td>
            </tr>
            <tr>
                <th>Statut</th>
                <td>{{ actualite.statut }}</td>
            </tr>
        </tbody>
    </table>
    </table>

    <ul>
        <li>
            <a href="{{ path('actualite_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('actualite_edit', { 'id': ville.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
