{% extends 'AppAdminBundle::default.html.twig' %}

{% block body %}

    <!-- modal add -->
    <div id="myModal" class="modal fade" role="dialog">
        <div class="modal-dialog modal-lg" style="left: -35%;">

            <!-- Modal content-->
            <div class="modal-content" >
                <form method="post" action="{{ path('rencontre_senddata') }}" >
                    <div >
                        <input type="hidden" value="{{poule_id}}" name="rencontre[poule_id]" >
                    </div>
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Modal Header</h4>
                    </div>
                    <div class="modal-body" >
                        <div class="image-alert">
                        </div>
                        <div class="col-md-8" id="etatmodal">

                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>Equipe1</label>
                                    <input type="text" name="rencontre[doublet][]" value="" id="equipe1" readonly="true"
                                           class="form-control">
                                </div>
                                <div class="form-group">
                                    <label>Doublet1</label>
                                    <select name="rencontre[doublet1][]" id="doublet1e1" class="form-control doublet">
                                        <option></option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label>Doublet2</label>
                                    <select name="rencontre[doublet1][]" id="doublet2e1" class="form-control doublet">
                                        <option></option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label>Doublet3</label>
                                    <select name="rencontre[doublet1][]" id="doublet3e1" class="form-control doublet">
                                        <option></option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-4">

                                <div class="form-group">
                                    <br><br><br>

                                </div>
                                <div class="form-group">
                                    <label>Date</label>
                                    <input name="rencontre[date][]" type="text" value="" id="datematch" readonly="true"
                                           class="form-control">
                                    <input name="rencontre[match]" type="hidden" value="" id="idmatch">
                                </div>
                                <div class="form-group">
                                    <label>Date</label>
                                    <input name="rencontre[date][]" type="text" value="" id="datematch1" readonly="true"
                                           class="form-control">
                                </div>
                                <div class="form-group">
                                    <label>Date</label>
                                    <input name="rencontre[date][]" type="text" value="" id="datematch2" readonly="true"
                                           class="form-control">
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>Equipe2</label>
                                    <input type="text" value="" id="equipe2" readonly="true" class="form-control">
                                </div>
                                <div class="form-group">
                                    <label>Doublet1</label>
                                    <select name="rencontre[doublet2][]" id="doublet1e2" class="form-control doublet">
                                        <option></option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label>Doublet2</label>
                                    <select name="rencontre[doublet2][]" id="doublet2e2" class="form-control doublet">
                                        <option></option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label>Doublet3</label>
                                    <select name="rencontre[doublet2][]" id="doublet3e2" class="form-control doublet">
                                        <option></option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4" id="etatmodal2">
                            <br><br><br>

                            <div class="form-group" style="padding-top: 13px;">
                                <label>court</label>
                                <select name="rencontre[court][]" class="form-control">
                                    {% for c in court %}
                                        <option value="{{ c.libelle }}">{{ c.libelle }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="form-group">
                                <label>court</label>
                                <select name="rencontre[court][]" class="form-control">
                                    {% for c in court %}
                                        <option value="{{ c.libelle }}">{{ c.libelle }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="form-group">
                                <label>court</label>
                                <select name="rencontre[court][]" class="form-control">
                                    {% for c in court %}
                                        <option value="{{ c.libelle }}">{{ c.libelle }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <div id="etatmodal3">
                            <input type="submit" value="Enregistrer" class="btn btn-primary">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </form>
            </div>

        </div>
    </div>

    <!-- modal edit -->
    <div id="myModal2" class="modal fade" role="dialog">
        <div class="modal-dialog modal-lg" style="left: -35%;">

            <!-- Modal content-->
            <div class="modal-content">
                <form method="post" action="{{ path('rencontre_savescore') }}">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Modal Header</h4>
                    </div>
                    <div class="modal-body">

                        <div class="modal-body">
                            <input type="hidden" value="{{poule_id}}" name="rencontre[poule]">
                            <div class="col-md-8">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>Equipe1</label>
                                        <input type="text" name="rencontre[doublet][]" value="" id="edit_equipe1"
                                               readonly="true"
                                               class="form-control">
                                    </div>
                                    <div class="form-group">
                                        <label>Doublet1</label>
                                        <input name="rencontre[doublet1][]" value="" id="edit_doublet1e1"
                                               class="form-control doublet">
                                    </div>
                                    <div class="form-group">
                                        <label>Doublet2</label>
                                        <input name="rencontre[doublet1][]" value="" id="edit_doublet2e1"
                                               class="form-control doublet">

                                    </div>
                                    <div class="form-group">
                                        <label>Doublet3</label>
                                        <input name="rencontre[doublet1][]" value="" id="edit_doublet3e1"
                                               class="form-control doublet">

                                    </div>
                                </div>
                                <div class="col-md-4">

                                    <div class="form-group">
                                        <label>Date</label>
                                        <input name="rencontre[date]" type="text" value="" id="edit_datematch"
                                               readonly="true"
                                               class="form-control">
                                        <input name="rencontre[matchedit]" type="hidden" value="" id="idmatchedit">

                                    </div>
                                    <div class="form-group">
                                        <label>Score</label>
                                        <input name="rencontre[score][match1][]" value="" id="edit_score1"
                                               class="form-control doublet">
                                        <input type="hidden" name="rencontre[score][match1][id]" value="" id="match1id">

                                    </div>
                                    <div class="form-group">
                                        <label>Score</label>
                                        <input name="rencontre[score]['match2][]" value="" id="edit_score2"
                                               class="form-control doublet">
                                        <input type="hidden" name="rencontre[score]['match2][id]" value="" id="match2id">
                                    </div>
                                    <div class="form-group">
                                        <label>Score</label>
                                        <input name="rencontre[score][match3][]" value="" id="edit_score3"
                                               class="form-control doublet">
                                        <input type="hidden" name="rencontre[score][match3][id]" value="" id="match3id">
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>Equipe2</label>
                                        <input type="text" value="" id="edit_equipe2" readonly="true" class="form-control">
                                    </div>
                                    <div class="form-group">
                                        <label>Doublet1</label>
                                        <input name="rencontre[doublet2][]" value="" id="edit_doublet1e2"
                                               class="form-control doublet">

                                    </div>
                                    <div class="form-group">
                                        <label>Doublet2</label>
                                        <input name="rencontre[doublet2][]" value="" id="edit_doublet2e2"
                                               class="form-control doublet">

                                    </div>
                                    <div class="form-group">
                                        <label>Doublet3</label>
                                        <input name="rencontre[doublet2][]" value="" id="edit_doublet3e2"
                                               class="form-control doublet">

                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <br><br><br>

                                <div class="form-group" style="padding-top: 13px;">
                                    <label>court</label>
                                    <input name="rencontre[court][]" class="form-control" id="edit_court1">
                                </div>
                                <div class="form-group">
                                    <label>court</label>
                                    <input name="rencontre[court][]" class="form-control" id="edit_court2">

                                </div>
                                <div class="form-group">
                                    <label>court</label>
                                    <input name="rencontre[court][]" class="form-control" id="edit_court3">

                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="modal-footer">
                        <input type="submit" value="Enregistrer" class="btn btn-primary">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </form>
            </div>

        </div>
    </div>
    <!-- -->
    <div class="col-md-12">
        <section class="panel">
            <header class="panel-heading">
            </header>

            <div class="panel-body">


                <div class="col-md-12">
                    <div >
                        <input type="hidden" value="{{poule_id}}" id="idpoule">
                    </div>
                    <div class="col-md-3"></div>
                    <div class="col-md-5">
                        <select id="idjournee" name="journee" class="form-control">
                            <option value=""></option>
                            {% for j in journee %}
                                <option value="{{ j }}">journeé {{ j }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="col-md-4">
                        <input type="button" class="btn btn-warning" id="list" value="Lister">
                    </div>
                </div>
                <div class="col-md-12">
                    <br><br><br>

                    <div class="col-md-3"></div>
                    <div class="col-md-6" id="tabledata" style="display: none;">
                        <table id="table-example" class="table table-bordered">
                            <thead>
                                <tr>

                                    <th class="text-center">Libelle</th>
                                    <th class="text-center">VS</th>
                                    <th class="text-center">Libelle</th>
                                    <th class="text-center">Action</th>

                                </tr>
                            </thead>
                            <tbody align="center" id="table-listematch">

                            </tbody>
                            <tfoot>

                            </tfoot>
                        </table>
                    </div>
                    <div class="col-md-3"></div>
                </div>
                <!-- /.box-body -->
            </div>
        </section>
    </div>

{% endblock %}

{% block javascript %}
    <link type="text/css" rel="stylesheet" href="{{ asset('bundles/chosen/chosen.css') }}"/>
    <script type="text/javascript" src="{{ asset('bundles/chosen/chosen.jquery.min.js') }}"></script>
    <script>

        jQuery(document).ready(function () {
            $id = '';
            $journee = '';

            $id = $('#idpoule').val();

            $('#idjournee').on('change', function () {
                $journee = $(this).val();
                console.log($journee);
            })
            $url = Routing.generate('match_detailjournee', {id: $id, journee: $journee}, true);
            $('#list').on('click', function () {
                $('#tabledata').css('display', 'block');
                console.log($id);
                $('#table-listematch').empty();


                $.ajax({
                    type: "POST",
                    url: $url,
                    data: 'id=' + $id + '&journee=' + $journee,
                    success: function (data) {
                        data = jQuery.parseJSON(data);
                        console.log(data);
                        for ($i = 0; $i < data.length; $i++) {

                            if (data[$i].statut == null) {
                                console.log(data[$i].equipe1);
                                console.log(typeof (data[$i].equipe1));
                                if (data[$i].equipe1 == "notequipe" || data[$i].equipe2 == "notequipe") {
                                    $('#table-listematch').append('<tr><td>' + data[$i].equipe1 + '</td><td></td>' +
                                            '<td>' + data[$i].equipe2 + '</td>' +
                                            '<td></td>' +
                                            '</tr>');

                                } else {
                                    $urlmatch = Routing.generate('match_detail', {id: data[$i].id}, true);
                                    $('#table-listematch').append('<tr><td>' + data[$i].equipe1 + '</td><td></td>' +
                                            '<td>' + data[$i].equipe2 + '</td>' +
                                            '<td><a id="detailmatch_url" url="' + $urlmatch + '"href="#" class="btn btn-default btn-sm" title="Edit" data-toggle="modal" data-target="#myModal"><i class="fa fa-pencil-square-o"></i></a></td>' +
                                            '</tr>');
                                }
                            } else {
                                if (data[$i].equipe1 == "notequipe" || data[$i].equipe2 == "notequipe") {
                                    $('#table-listematch').append('<tr><td>' + data[$i].equipe1 + '</td><td></td>' +
                                            '<td>' + data[$i].equipe2 + '</td>' +
                                            '<td></td>' +
                                            '</tr>');

                                } else {
                                    $urlmatch = Routing.generate('match_detail_edit', {id: data[$i].id}, true);
                                    if (data[$i].terminer == 'terminer') {
                                        $('#table-listematch').append('<tr><td>' + data[$i].equipe1 + '</td><td></td>' +
                                                '<td>' + data[$i].equipe2 + '</td>' +
                                                '<td><a id="detailmatch_url" url="' + $urlmatch + '"href="#" disabled="disabled" class="btn btn-default btn-sm" title="Edit" data-toggle="modal" data-target="#myModal2"><i class="fa fa-pencil-square-o"></i></a></td>' +
                                                '</tr>');
                                    } else {
                                        $('#table-listematch').append('<tr><td>' + data[$i].equipe1 + '</td><td></td>' +
                                                '<td>' + data[$i].equipe2 + '</td>' +
                                                '<td><a id="detailmatch_url" url="' + $urlmatch + '"href="#" class="btn btn-default btn-sm" title="Edit" data-toggle="modal" data-target="#myModal2"><i class="fa fa-pencil-square-o"></i></a></td>' +
                                                '</tr>');
                                    }
                                }

                            }


                        }
                    },
                    error: function () {
                    }
                })
            })

            $('#detailmatch_url').live('click', function () {
                $('.image-alert').empty();
                $get_url = $(this).attr('url');
                $.ajax({
                    type: "POST",
                    url: $get_url,
                    data: $(this).serialize(),
                    success: function (data) {
                        data = jQuery.parseJSON(data);

                        if (data.statut == true) {
                            // console.log('true');
                            // console.log(data.equipe1);
                            console.log(data);
                            //console.log(data.data[0]);
                            $('#idmatchedit').val(data.data[0].id);
                            $('#edit_equipe1').val(data.equipe1);
                            $('#edit_equipe2').val(data.equipe2);
                            $('#edit_datematch').val(data.data[0].date);
                            $('#edit_court1').val(data.data[0].court);
                            $('#edit_doublet1e1').val(data.data[0].doublet1.libelle);
                            $('#edit_doublet1e2').val(data.data[0].doublet2.libelle);
                            $('#edit_court2').val(data.data[1].court);
                            $('#edit_doublet2e1').val(data.data[1].doublet1.libelle);
                            $('#edit_doublet2e2').val(data.data[1].doublet2.libelle);
                            $('#edit_court3').val(data.data[2].court);
                            $('#edit_doublet3e1').val(data.data[2].doublet1.libelle);
                            $('#edit_doublet3e2').val(data.data[2].doublet2.libelle);
                            $('#match1id').val(data.data[0].id);
                            $('#match2id').val(data.data[1].id);
                            $('#match3id').val(data.data[2].id);
                        } else {
                            $lengthdoublet1 = data.equipe1.doublet.length;
                            $lengthdoublet2 = data.equipe2.doublet.length;
                            if ($lengthdoublet1 < 3 || $lengthdoublet2 < 3) {
                                $('#etatmodal').hide();
                                $('#etatmodal2').hide();
                                $('#etatmodal3').hide();
                                $('.image-alert').append('<div class="col-md-12"><div class="col-md-4"></div><div class="col-md-4"><img style="max-width:50px;" src="{{asset('image/appicon/alert.gif')}}"></div><div class="col-md-4"></div></div>'
                                        + '<div class="col-md-12"><div class="alert alert-danger">Vous n\'avez pas encore entrer les doublet correctement</div></div>');
                            } else {
                                $('#etatmodal').show();
                                $('#etatmodal2').show();
                                $('#etatmodal3').show();
                                $('#idmatch').val(data.match);
                                $('#equipe1').val(data.equipe1.libelle);
                                $('#equipe2').val(data.equipe2.libelle);
                                $('#doublet1e1').empty();
                                $('#doublet1e1').append('<option> </option>');

                                for ($i = 0; $i < data.equipe1.doublet.length; $i++) {
                                    $('#doublet1e1').append('<option value="' + data.equipe1.doublet[$i].id + '">' + data.equipe1.doublet[$i].libelle + '</option>')
                                }
                                $('#doublet2e1').empty();
                                $('#doublet2e1').append('<option> </option>');
                                for ($i = 0; $i < data.equipe1.doublet.length; $i++) {
                                    $('#doublet2e1').append('<option value="' + data.equipe1.doublet[$i].id + '">' + data.equipe1.doublet[$i].libelle + '</option>')
                                }
                                $('#doublet3e1').empty();
                                $('#doublet3e1').append('<option> </option>');
                                for ($i = 0; $i < data.equipe1.doublet.length; $i++) {
                                    $('#doublet3e1').append('<option value="' + data.equipe1.doublet[$i].id + '">' + data.equipe1.doublet[$i].libelle + '</option>')
                                }
                                $('#doublet1e2').empty();
                                $('#doublet1e2').append('<option> </option>');


                                for ($i = 0; $i < data.equipe1.doublet.length; $i++) {
                                    $('#doublet1e2').append('<option value="' + data.equipe2.doublet[$i].id + '">' + data.equipe2.doublet[$i].libelle + '</option>')
                                }
                                $('#doublet2e2').empty();
                                $('#doublet2e2').append('<option> </option>');
                                for ($i = 0; $i < data.equipe1.doublet.length; $i++) {
                                    $('#doublet2e2').append('<option value="' + data.equipe2.doublet[$i].id + '">' + data.equipe2.doublet[$i].libelle + '</option>')
                                }
                                $('#doublet3e2').empty();
                                $('#doublet3e2').append('<option> </option>');
                                for ($i = 0; $i < data.equipe1.doublet.length; $i++) {
                                    $('#doublet3e2').append('<option value="' + data.equipe2.doublet[$i].id + '">' + data.equipe2.doublet[$i].libelle + '</option>')
                                }
                            }

                        }

                    },
                    error: function () {
                    }
                })
            })

            $('#datematch').datetimepicker(function () {

            });
            $('#datematch1').datetimepicker(function () {

            });
            $('#datematch2').datetimepicker(function () {
            });
            $('#edit_score1').inputmask('9-9');
            $('#edit_score2').inputmask('9-9');
            $('#edit_score3').inputmask('9-9');
        })
    </script>
{% endblock %}
