{% extends 'base.html.twig' %}

{% block body %}
    <h1>Rencontre</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ rencontre.id }}</td>
            </tr>
            <tr>
                <th>Journee</th>
                <td>{{ rencontre.journee }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('rencontre_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('rencontre_edit', { 'id': rencontre.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
