{% extends 'AppAdminBundle::default.html.twig'%}
{% block title %} Modifier un doublet {%endblock %}
{% block body %}
    <div class="col-md-12">
        <section class="panel">
            <div class="box box-danger">
                <div class="panel-body">
                    {% for joueur in detailjoueur %}
                        <div class="col-md-6">
                            <div class="media">
                                <div class="media-left">
                                    <a href="#">
                                        <img class="media-object" style="max-width: 150px;"src="{{asset('uploads/users/'~joueur.avatar)}}" alt="...">
                                    </a>
                                </div>
                                <div class="media-body">
                                    <h4 class="media-heading">{{joueur.nomPrenom}} && {{joueur.mail}}</h4>
                                    {{ joueur.adresse }}
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                    <div class="col-md-12">
                        <a href="{{path('equipe_listdoublet',{'id':detailjoueur.0.equipe.id})}}" class="btn-sm btn-primary" type="button" >Retourner</a>
                    </div>
                </div>
            </div>
        </section>
    </div>
{% endblock %}
{% block javascript %}
    <link type="text/css" rel="stylesheet" href="{{asset('bundles/chosen/chosen.css')}}" />
    <script type="text/javascript" src="{{asset('bundles/chosen/chosen.jquery.min.js')}}"></script>
    <script>

        jQuery(document).ready(function () {
            $('#doublet_equipe').on('click', function () {
                $iddel = $(this).val();
                console.log($iddel);
                $('#listjoueur').empty();
                $urldel = Routing.generate('doublet_listjoueur', {id: $iddel}, true);
                $.ajax({
                    type: 'POST',
                    url: $urldel,
                    //data: 'idposts=' + $iddel,
                    //dataType: 'json',
                    success: function (retour) {
                        console.log(retour);
                        retour = jQuery.parseJSON(retour);
                        console.log(retour);
                        $.each(retour, function (key, val) {
                            $('#listjoueur').append('<option value="' + key + '">' + val + '</option> ')
                        });
                    },
                    error: function (retour) {
                        console.log("errur" + JSON.stringify(retour));
                    }
                })
            })
        });
    </script>
{% endblock %}
