<!--
                //////////////////////////////////////////////////////////////
                //////////     LEFT NAV MENU     //////////
                ///////////////////////////////////////////////////////////
-->
<nav id="menu">
    <ul> 
        <li><a href="{{ path('user_index') }}"><i class="icon  fa fa-rocket"></i> Gestion des Utilisateurs </a></li>

        <li><a href="{{ path('tournoi_index') }}"><i class="icon  fa fa-rocket"></i> Gestion des Tournois</a></li>

        <li><a href="{{ path('poule_index') }}"><i class="icon  fa fa-rocket"></i> Gestion des Poules </a></li>

        <li><a href="{{ path('equipe_index') }}"><i class="icon  fa fa-rocket"></i> Gestion des Equipes </a></li>

        <li><a href="{{ path('joueur_index') }}"><i class="icon  fa fa-rocket"></i> Gestion des Joueurs </a></li>

        <li><a href="{{ path('doublet_index') }}"><i class="icon  fa fa-rocket"></i> Gestion des Doublets </a></li>

        <li><a href="{{path('actualite_index')}}"><i class="icon  fa fa-rocket"></i> Gestion des Actualités </a></li>
        <li><a href="{{path('event_index')}}"><i class="icon  fa fa-rocket"></i> Gestion des Evenment </a></li>

        <li><a href="{{path('court_index')}}"><i class="icon  fa fa-rocket"></i> Gestion des Courts </a></li>
        <li><a href="{{path('pays_index')}}"><i class="icon  fa fa-rocket"></i> Gestion des Pays </a></li>
        <li><a href="{{path('ville_index')}}"><i class="icon  fa fa-rocket"></i> Gestion des Villes </a></li>
        <li><a href="{{path('user_fullcalendar')}}"><i class="icon  fa fa-rocket"></i> Calendrier </a></li>

    </ul>
</nav>